body {
    max-width: 850px;
    margin: 24px auto;
    background-image: url(https://raw.githubusercontent.com/joeygarcia4/m5-hw5-garcia-jose/refs/heads/main/assets/subtle_white_mini_waves.webp);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}